{% extends '_layout.twig' %}

{% block body %}
    <div class="flex justify-center items-center h-screen">
        <div class="text-5xl">
            {{ currentSite.name }}
        </div>
    </div>
{% endblock %}
